html {
  box-sizing: border-box;
  font-family: "Yaldevi", "sans-serif";
  color: #dddee0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html,
body {
    /* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; */
    /* overflow-x: hidden;  */
}
.Site {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}
body {
  font-size: 13px;
  font-family: "Yaldevi", "sans-serif";
  padding: 0;
  margin: 0;
}
#portfolioheading {
  color: #dddee0;
}

#portrait {
  height: 150px;
  float: left;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
#portrait:hover {
  transform: scale(1.05);
}
p {
  color: inherit;
  color: #dddee0;
  font-size: inherit;
}
div {
  background-color: #323a45;
}
.btn-linkedin {
  background: #323a45;
  border-radius: 0;
  color: #dddee0;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-linkedin:link,
.btn-linkedin:visited {
  color: #dddee0;
}
.btn-linkedin:active,
.btn-linkedin:hover {
  background: #767c83;
  color: #323a45;
}
.row {
  background-color: #323a45;
}
.navbar {
  font: inherit;
}
nav {
  /* width: 100%; */
  background-color: #323a45;
  padding-left: 30px;
  padding-right: 10px;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  font-size: 18px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #dddee0;
}

.nav-item:hover {
  background-color: #767c83;
}

.nav-item:hover a {
  color: #dddee0;
}

.logo img {
  vertical-align: middle;
}
footer {
  background: #323a45;
  font-weight: 400;
  padding: 10px 20px;
}
.container-fluid {
  flex: 1;
  /* flex-direction: column-reverse; */
  /* flex-direction: column; */
  background-color: #767c83;
  border: solid red;
}

div.darkTable a:hover {
  color: inherit; 
}
div.darkTable a {
  color:#767c83; 
}
div.darkTable {
  font-family: inherit;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
.divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
.divTable.darkTable .divTableBody .divTableCell {
  font-size: 13px;
  color: #E6E6E6;
}
.divTable.darkTable .divTableRow:nth-child(even) {
  background: #888888;
}
.divTable.darkTable .divTableHeading {
  background: #000000;
  border-bottom: 3px solid #000000;
}
.divTable.darkTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
.divTable.darkTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.darkTable .tableFootStyle {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
.darkTable .tableFootStyle {
  font-size: 12px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
